*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body{
    margin-left: 50px;
    margin-right: 50px;
}
.boton{
    background-color: red;
    color: aqua;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}
.boton:hover{
background-color: blue;
color: greenyellow;
transition: 1s;

}

.boton:active{
    background-color: yellow;
    color: black;   

}
#p1:target{
    background-color: rgba(253, 13, 13, 0.4);
}
#p2:target{
    background-color: rgba(255, 255, 255, 0.4);
}
#p3:target{
    background-color: rgba(228, 126, 126, 0.4);
}
.texto1{
    width: max-content;
    display: flex;
    background-color: blueviolet;
    padding: 10px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

/* .texto1 p:last-child */
/*.texto1 p:nth-child(3)*/
/*.texto1 p:nth-child(even)*/
/*.texto1 p:nth-child(n+2)*/
.texto1 p:nth-last-child(n+2)
{
    background-color: violet;
    color: red;
}

.texto2{
    width: max-content;
    display: flex;
    background-color: blueviolet;
    padding: 10px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

.texto2 p:nth-last-child(n+2)
{
    background-color: violet;
    color: red;
}

.tabla{
    border-collapse: collapse;
    margin: 20px auto 50px;
}
.tabla th,td{
    border: 1px solid red;
}

.tabla thead{
    background-color: aqua;

}
.tabla tr:nth-child(odd) {
    background-color: rgb(0, 0, 0);
    color: blueviolet;
    font-weight: bold;
}
.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
    margin: 40px;

}
.nombre li{
    font-size: xx-large;
    font-weight: bold;
    background-color: white;
    padding: 10px;
}
.nombre li:nth-child(even){
    background-color: green;
    color: aqua;
    padding: 10px;
}
.lista{
    width:max-content ;
    margin: auto;
    padding: 20px;
    list-style: none;

}
.lista li::before{
    content: "游끱";
    margin-right: 20px;
    margin-left: 30px;
}
.texto2 p:after{
    content: "游댒";
}

.cuadro{
    background-color: chocolate;
    width: 50%;
    min-width: 200px;
    box-shadow: 6px 6px 10px blue;
    padding: 10px;
    margin: 40px auto;
    position: relative;
}
.cuadro::before{
    width: 80px;
    height: 30px;
    content: "游릭游리游"; 
    position: absolute;
    top: calc(50% - 15px);
    right: calc(100% - 15px);
}
.cuadro::after{
    width: 100px;
    height: 30px;
    content: "游멇리游릭"; 
    position: absolute;
    top: calc(50% - 15px);
    left: calc(100% - 0px);
}
.resp{
    margin: 30px 50px;
}
label{
    background-color: rgb(30, 100, 77);
    padding: 10px;
    color: azure;

}

.resp:checked + label{
    background-color: black;
    color: white;

}